<% if @content %>
    <%= form_with(model: tweet, local: true) do |ff| %>

        <div>
            <%= ff.label :content %>
            <%= ff.text_area :content, value: @content %>
        </div>

        <div>
            <%= ff.hidden_field :user_id, value: current_user.id %>
            <%= ff.hidden_field :tweet_id, value: @tweet_id %>
        </div>

        <div>
            <%= ff.submit %>
        </div>

    <% end %>

<% else %>
    <%= form_with(model: tweet, local: true) do |ff| %>

        <div>
            <%= ff.label :content %>
            <%= ff.text_area :content %>
        </div>

        <div>
            <%= ff.submit %>
        </div>

    <% end %>
<% end %>