<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome <%= current_user ? current_user.name : "stranger" %>!</h1>
      <p class="lead">This is definetly not Twitter!.</p>
    </div>
</div>

<% if user_signed_in? %>
    <%= render 'form', tweet: @tweet %>
<% end %>


<div class = "container">
    <h3 class= "mb-4">Latest tweets</h3>
    <% @tweets.each do |tweet| %>
        <div class="card mb-3" style="width: 20 rem;">
            <div class="card-body">
                <h5 class="card-title"><%= tweet.user %></h5>
                <p class="card-text"><%= tweet.content %>.</p>
                <% if tweet.retweet_id %>
                    <% ret_ref = Retweet.find_by(id: tweet.retweet_id) %>
                    <% tweet_ref = Tweet.find_by(id: ret_ref.tweet_id) %>
                    <div class = "card-body">
                        <h5 class="card-title"><%= tweet_ref.user %></h5>
                        <p class="card-text"><%= tweet_ref.content %></p>
                    </div>
                <% end %>
                <span class="text-success"><%= "#{tweet.retweets.count} rts"%></span>
                <% if user_signed_in? %> 
                    <% if tweet.retweets.include?(Retweet.find_by(user_id: current_user.id, tweet_id: tweet.id)) %>
                        <span class="text-primary">rtweeted</span>
                    <% else %>
                        <%= link_to 'rt', retweet_path(tweet.id), class: "card-link" %>
                    <% end %>
                <% end %>
                <span class="text-success"><%= "#{tweet.likes.count} likes" %></span>
                <% if user_signed_in? %>
                    <% if tweet.likes.include?(Like.find_by(user_id: current_user.id, tweet_id: tweet.id)) %>
                        <%= link_to 'Unlike', destroy_like_path(tweet), method: :delete, class: "card-link" %>
                    <% else %>
                        <%= link_to 'Like', create_like_path(tweet), method: :post, class: "card-link" %>
                    <% end %>
                <% end %>
                <%= link_to "#{time_ago_in_words(tweet.created_at)} ago", tweet_path(tweet) %>

                <% if current_user && current_user.id == tweet.user_id %>
                        <%= link_to 'Edit', edit_tweet_path(tweet), class: "text-warning mr-auto" %>
                        <%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure you want to delete your tweet?' }, class: "text-danger" %>   
                <% end %>
            </div>
        </div>
    <% end %>
</div>
<!-- <table>
    <thead>
        <tr>
            <th>Content</th>
            <th>Author</th>
            <th>Tweeted At</th>
            <th>Retweets</th>
            <th>Likes</th>
            <th colspan='4'></th>
        </tr>
    </thead>
    <tbody>
    <% @tweets.each do |tweet| %>
        <tr>
            <td><%= tweet.content %></td>
            <td><%= tweet.user %></td>
            <td><%= link_to time_ago_in_words(tweet.created_at), tweet_path(tweet) %></td>
            <td><%= link_to tweet.retweets.count, retweets_path(tweet) %></td>
            <td><%= tweet.likes.count %></td>
            <% if user_signed_in? %>
                <% if tweet.retweets.include?(Retweet.find_by(user_id: current_user.id, tweet_id: tweet.id)) %>
                <td><p>Retweeted</p></td>
                <% else %>
                    <td><%= link_to 'Retweet', retweet_path(tweet) %></td>
                <% end %>
                <%if tweet.likes.include?(Like.find_by(user_id: current_user.id, tweet_id: tweet.id)) %>
                    <td><%= link_to 'Unlike', destroy_like_path(tweet), method: :delete %></td>
                <% else %>
                    <td><%= link_to 'Like', create_like_path(tweet), method: :post %></td>
                <% end %>
            <% end %>
            <% if current_user && current_user.id == tweet.user_id %>
                <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
                <td><%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure you want to delete your tweet?' }%></td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table> -->

<%= paginate @tweets %>