<div class="jumbotron jumbotron-fluid bg-info">
    <div class="container">
      <h1 class="display-4 title">Welcome <%= current_user ? current_user.name : "stranger" %>!</h1>
      <p class="lead text-white">This is definetly not Twitter!</p>
    </div>
</div>

<% if user_signed_in? %>
    <%= render 'form', tweet: @tweet %>
<% end %>

<div class = "container">
    <%= search_form_for @q do |f| %>
    <div class="form-group">
        <%= f.label :content_cont %>
        <%= f.search_field :content_cont, class: 'form-control' %>
    </div>
    <%= f.submit %>
    
<% end %>

    <h3 class= "my-4">Latest tweets</h3>
    <% @tweets.each do |t| %>
        <%= render 'tweet', tweet: t %>
    <% end %>
    
    <div class='text-center mb-4 more'>
        <%= link_to_next_page @tweets, 'Show more tweets' %>
        <%= link_to_prev_page @tweets, 'Go back' %>
    </div>
</div>

